.img-fluid {
    width: 70%;
    height: auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h4 {
    font-size: 2rem;
}


#drop_zone {
     border: 2px dashed #ccc;
     padding: 20px;
     text-align: center;
     cursor: pointer;
}

#uploaded_image {
   max-width: 100%;
   max-height: 200px;
   margin-top: 20px;
}