<!DOCTYPE html>
<html>
<head>
    <title>COVID-19 Detector</title>
    {% include 'top_menu_links.html'%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/images/logo.png">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/static/error_script.js"></script>

</head>
<body>

{% include 'top_menu.html' %}
    <div class="container mt-4 text-center">
    <h1 class="mb-4">COVID-19 Detector</h1>
    {% if error %}
    <script>
        showError('{{error}}');
    </script>
    {% elif journal %}
    <p>Start time: {{ journal.start_time }}</p>
    <p>End time: {{ journal.end_time }}</p>
    <h4>Result: {{ journal.service_result }}</h4>
    <h4>Probability: {{ journal.percent_patology }}% </h4>
    <img src="/{{ journal.input_image_url }}" alt="исследование">
    <form id="action_form_buttons" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="start_time" value="{{ journal.start_time }}">
        <input type="hidden" name="end_time" value="{{ journal.end_time }}">
        <input type="hidden" name="predicted_label" value="{{ journal.service_result }}">
        <input type="hidden" name="predicted_prob" value="{{ journal.percent_patology }}">
        <input type="hidden" name="image_path" value="{{ journal.input_image_url }}">
        <div class="mt-4">
            <button type="submit" class="btn btn-success mr-2" id="save_button" name="action" value="feedback">Обратная связь</button>
            <button type="submit" class="btn btn-danger mr-2" id="delete_button" name="action" value="delete">Удалить</button>
            <button type="submit" class="btn btn-success mr-2" id="back_button" name="action" value="back">Назад</button>
        </div>
    </form>
    {% endif %}
</div>

</body>
</html>