<!DOCTYPE html>
<html>
<head>
    <title>Анализ</title>
    {% include 'top_menu_links.html'%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" href="static/images/logo.png">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="static/error_script.js"></script>

</head>
<body>

{% include 'top_menu.html' %}
    <div class="container mt-4">
        <h1 class="mb-4">Анализ</h1>

        <form id="upload_form" method="POST" enctype="multipart/form-data">
            <div id="drop_zone" class="mb-3">
                <label for="file_input">Drag and drop a file here or click to choose</label>
                <input type="file" name="file" id="file_input" style="display: none;">
            </div>
            <button type="submit" class="btn btn-primary btn-lg" name="action" value="detect">Detect</button>
        </form>
            {% if error %}
                <script>
                    showError('{{error}}');
                </script>
            {% else %}
                <h2>Модальность: {{ modality }}</h2>
                <h2>Часть тела: {{ body_part }}</h2>
                <h2>Исследование обезличенно: {{ patient_identity_removed }}</h2>

                <img src="{{ path }}" class="img-fluid mt-3">
<!--                <input type="hidden" id="action_input" name="action">-->
             <form id="action_form_buttons" method="POST" enctype="multipart/form-data">
                   <input type="hidden" name="image_path" value="{{ image_path }}">
             </form>
            {% endif %}
        </div>


    <script>
        const dropZone = document.getElementById('drop_zone');
        const fileInput = document.getElementById('file_input');

        dropZone.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropZone.style.backgroundColor = '#f0f0f0';
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.style.backgroundColor = '';
        });

        dropZone.addEventListener('drop', (event) => {
            event.preventDefault();
            dropZone.style.backgroundColor = '';
            const file = event.dataTransfer.files[0];
            fileInput.files = event.dataTransfer.files;

            const reader = new FileReader();
            reader.onload = function(e) {
                const uploadedImage = document.createElement('img');
                uploadedImage.src = e.target.result;
                uploadedImage.classList.add('img-fluid', 'mt-3');
                dropZone.appendChild(uploadedImage);
            };
            reader.readAsDataURL(file);
        });
    </script>


</body>
</html>
