<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервисы</title>
    {% include 'top_menu_links.html'%}
    <style>
        .service-card {
            display: block;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .filters {
            display: flex;
            align-items: center; /* Чтобы элементы выровнялись по вертикали */
            margin-bottom: 10px;
        }

        .search {
            margin-left: auto; /* Помещаем поиск в конец строки */
            margin-right: 20px; /* Добавляем немного отступа справа */
        }
    </style>
</head>
<body>
    {% include 'top_menu.html' %}
    <h1>Список сервисов</h1>
    <div class="filters">
        <select id="modalFilter">
            <option value="">Все модальности</option>
            {% for modal in modals %}
                <option value="{{ modal.id }}">{{ modal.name }}</option>
            {% endfor %}
        </select>
        <select id="targetFilter">
            <option value="">Все целевые органы</option>
            {% for target in targets %}
                <option value="{{ target.id }}">{{ target.name }}</option>
            {% endfor %}
        </select>
        <select id="pathologyFilter">
            <option value="">Все патологии</option>
            {% for pathology in pathologies %}
                <option value="{{ pathology.id }}">{{ pathology.name }}</option>
            {% endfor %}
        </select>
        <div class="search">
            <input type="text" id="searchInput" placeholder="Поиск по названию">
        </div>
    </div>
    <div class="service-cards">
        {% for service in services %}
            <div class="service-card" data-modal="{{ service.modal.id }}" data-target="{{ service.target.id }}" data-pathology="{{ service.pathology.id }}">
                <a href="/services/{{ service.id }}" class="question-link">
                    <h2>{{ service.name }}</h2>
                </a>
                <p>Статус: {{ service.status }}</p>
                <p>Модальность: {{ service.modal.name }}</p>
                <p>Целевая часть: {{ service.target.name }}</p>
                <p>Патология: {{ service.pathology.name }}</p>
            </div>
        {% endfor %}
    </div>
    <script>
        const modalFilter = document.getElementById('modalFilter');
        const targetFilter = document.getElementById('targetFilter');
        const pathologyFilter = document.getElementById('pathologyFilter');
        const searchInput = document.getElementById('searchInput');
        const serviceCards = document.querySelectorAll('.service-card');

        // Добавляем обработчики событий на изменение фильтров и ввод в поле поиска
        modalFilter.addEventListener('change', filterAndSearch);
        targetFilter.addEventListener('change', filterAndSearch);
        pathologyFilter.addEventListener('change', filterAndSearch);
        searchInput.addEventListener('input', filterAndSearch);

        // Функция для фильтрации и поиска карточек сервисов
        function filterAndSearch() {
            const selectedModal = modalFilter.value;
            const selectedTarget = targetFilter.value;
            const selectedPathology = pathologyFilter.value;
            const searchText = searchInput.value.trim().toLowerCase();

            serviceCards.forEach(card => {
                const modal = card.getAttribute('data-modal');
                const target = card.getAttribute('data-target');
                const pathology = card.getAttribute('data-pathology');
                const serviceName = card.querySelector('h2').textContent.toLowerCase();

                const modalMatch = !selectedModal || modal === selectedModal;
                const targetMatch = !selectedTarget || target === selectedTarget;
                const pathologyMatch = !selectedPathology || pathology === selectedPathology;
                const searchMatch = serviceName.includes(searchText);

                if (modalMatch && targetMatch && pathologyMatch && searchMatch) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }
    </script>
</body>
</html>
